<h1>Comparison</h1>
<div class="row">
  <div class="col-sm-6">
    <h2><%= @item1.name %></h2>
    <%= image_tag @item1.item_image.url, class: 'middle-image' %>
  </div>
  <div class="col-sm-6">
    <h2><%= @item2.name %></h2>
    <%= image_tag @item2.item_image.url, class: 'middle-image' %>
  </div>
</div>